<ion-header class="no-shadow"></ion-header>
<ion-content fullscreen class="login-full-bg">
  <div class="login-flex-container">
    <div class="login-image-col">
      <img src="assets/2941990.png" alt="Bienvenida" class="login-illustration" />
    </div>
    <div class="login-form-col">
      <div class="login-card">
        <h2 class="login-title">
          <i class="fa fa-home" style="margin-right:8px;"></i>
          ¡Bienvenido a la página principal!
        </h2>

        <button expand="full" fill="solid" color="danger" class="login-btn" (click)="logout()">
          <i class="fa fa-sign-out" style="margin-right:8px;"></i>
          Cerrar sesión
        </button>

        <button expand="full" fill="solid" color="primary" class="login-btn" (click)="tomarFoto()" style="margin-top: 16px;">
          <i class="fa fa-camera" style="margin-right:8px;"></i>
          Tomar Foto
        </button>
        <button expand="full" fill="solid" color="secondary" class="login-btn" (click)="iraUsers()" style="margin-top: 16px;">
          <i class="fa fa-users" style="margin-right:8px;"></i>
          Ir a Usuarios
        </button>
        <button expand="full" fill="solid" color="tertiary" class="login-btn" (click)="iraAccesibilidad()" style="margin-top: 16px;">
          <i class="fa fa-box" style="margin-right:8px;"></i>
          Ir a Pagina de Accesibilidad
        </button>

        <img *ngIf="foto" [src]="foto" alt="Foto tomada"
          style="margin-top: 20px; width: 100%; max-width: 300px;" />

      <div *ngIf="isOnline" class="online-msg">
      <i class="fa fa-wifi" style="margin-right:8px;"></i>

  ¡Conectado a Internet!
</div>
<div *ngIf="!isOnline" class="offline-msg">
  Sin conexión a Internet
</div>

        </div>
        <ng-template #offline>
          <ion-text color="danger">
            <i class="fa fa-times-circle" style="margin-right:8px;"></i>
            Sin conexión a Internet.
          </ion-text>
        </ng-template>
      </div>
    </div>



</ion-content>
